
<form id="deleteModalForm" action="" method="post">
    @Html.AntiForgeryToken()
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input id="deleteModalItemId" type="hidden" name="Id" />
                <div class="modal-body">
                    Are you sure to delete the item &quot;<span id="deleteModalItemName"></span>&quot;?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes, Delete It</button>
                </div>
            </div>
        </div>
    </div>
</form>


