@model List<Category>

<ul class="list-unstyled mb-0">
    <li>
        @Html.ActionLink("All", "Index", "Home")
    </li>
    @foreach (var cat in Model)
    {
        <li>
            <a href="@Url.Action("Index", "Home", new { cid = cat.Id })">
                @cat.CategoryName
            </a>
        </li>
    }
</ul>