@model List<Category>
@{
    ViewBag.Title = "Categories";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manage Categories</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table data-table="true" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Category Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.CategoryName</td>
                        <td>Edit | Delete</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->