@model Post
@{
    ViewBag.Title = Model.Title;
}

<h1 class="mt-1">@Model.Title</h1>

<div class="show-post">
    @if (!string.IsNullOrEmpty(Model.PhotoPath))
    {
        <img src="@Url.FeaturedImage(Model.PhotoPath)" alt="Post Featured Image" class="mb-3" />
    }
    @Html.Raw(Model.Content)
</div>

